html,body{
    font-family: 'Raleway',sans-serif;
    margin: 0;
    padding:0;
}

body a{
    text-decoration: none;
    color: #181818;
}


/* Header */
header
{
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.trouvez{
    margin: 20px;
}

#logo img{
    width: 100px;
    height: 50px;
}


.menu{  
    top: 0;
    display: flex;  
}

/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
    padding-top: 20px;
}

nav a:hover
{
    color: #006af3;
    border-top: 3px solid #006af3; 
}

.inscription a{
    color: #006af3;
    font-size: 1.3em;
}
/* RECHERCHE */


.champ-recherche{
    display: flex;
}

.icon-map{
    background: rgb(240, 240, 240, 0.678);
    border-radius: 10px 0 0 10px;
    padding: 10px
}

.champ-recherche input{
    padding: 7px;    
    border: 1px rgb(240, 240, 240, 0.678) solid;
    padding: 9px;
    font-weight: bold;
    font-size: 15PX;
}

.icon-loupe{
    display: none;
}

.button-button{
    color: white;
    background: #006af3;
    border-radius: 0 10px 10px 0;  
    border: none;
    width: 100px;
}


/* FILTRES */

.filtre-{
    display: flex;
}

.filtre- p{
    padding-top: 10px;
}

.filtres-1 ul{
    display: flex;
    list-style: none;
}

.filtres-1 li{
    margin-right: 50px;
    border: 1px rgb(240, 240, 240, 0.678) solid;
    border-radius: 40px;
    padding-right: 20px; 
}

.filtres-1 li i{
    color: rgb(38, 132, 240);
    background: rgb(234, 249, 255);
    border-radius: 20px;
    padding: 10px;  
    margin-right: 5px;
}

.info {
    display: flex;
}

.info p{
    margin: 10px;
}

.info i{
    color: #006af3;
    border: 1px rgb(240, 240, 240, 0.678) solid;    
    border-radius: 20px;
    padding: 10px; 
    margin: 5px; 
    height: 5px;
    font-size: 10px;
}


/* HEBERGEMENTS A MARSEILLE*/

.cote{
    display: flex;   
}

.hébergements{ 
    padding: 30px;
    background: rgba(240, 240, 240, 0.678);
    border-radius: 20px 20px 20px 20px;   
    margin-right: 20px;
    margin-left: 20px; 
}

.hébergements h2{
    margin: 0;
}

.image-container{
    width: auto;
    height: 130px;
}

.hébergements img{
    width: 100%; 
    height: 100%;  
    border-radius: 20px 20px 0px 0px;
}
.cadre{
    display: flex;
    flex-wrap: wrap;      
    width: auto; 
    justify-content: space-between;
}

.chambre{
    background:white;
    width: 250px;
    height: 200px;
    border-radius: 20px; 
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);  
    padding: 5px;  
    margin: 10px;
}

.texte{
    margin-left: 10px;
    line-height: 1px;
}

.notation i{
    color: #006af3;
    font-size: 10px;
}

.star-grey i{
    color: #a5a0a0;
    padding: 0;
    margin: 0;
}

.afficherplus{
    margin-top: 15px;
}
.afficherplus a{
    text-decoration: none;
    color: #181818;
}


/* <!-- LES PLUS POPULAIRES--> */

#logocourbe {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.populaires{  
    padding: 10px;
    background: rgba(240, 240, 240, 0.678);
    border-radius: 20px 20px 20px 20px;   
    margin-right: 20px;
    height: 565px;
}

.cadre_populaire{
    display: flex;
    background:white;
    width: 290px;
    border-radius: 20px; 
    margin-bottom: 25px;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);  
    padding: 5px;  
    height: 120px;
}

.populaires img{
    width: 120px;
    height: 100%; 
    padding-right: 5px;  
    border-radius: 20px 0px 0px 20px;
     
}

.texte_populaire h4{
    line-height: 1;
    margin-top: 5PX;
}

.texte_populaire{
    line-height: 15px;
}



/*  ASIDE /ACTIVITES A MARSEILLE */
aside{
    margin: 20px;
}

.activités{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.texte_activité{
    margin-left: 10px;
    line-height: 1px;
    padding-left: 5px;
}


.groupe1{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.groupe2{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.port{
    background:white;
    width: 230px;
    height: 350px;
    border-radius: 20px; 
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);  
}

.port img{
    width: 100%;
    height: 90%;
    border-radius: 20px 20px 0 0;
}

.fort{
    background:white;
    width: 230px;
    height: 190px;
    border-radius: 20px; 
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);  
}

.fort img{
    width: 100%;
    height: 80%;
    border-radius: 20px 20px 0 0;
}

.iles{
    background:white;
    width: 230px;
    height: 130px;
    border-radius: 20px; 
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);  
}

.iles img{
    width: 100%;
    height: 72%;
    border-radius: 20px 20px 0 0;
}

.parc{
    background:white;
    width: 230px;
    height: 350px;
    border-radius: 20px; 
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);  
}

.parc img{
    width: 100%;
    height: 89%;
    border-radius: 20px 20px 0 0;
}

.parc h4{
    line-height: 1;
    margin: 0;
}

.garde{
    background:white;
    width: 230px;
    height: 160px;
    border-radius: 20px; 
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);  
}

.garde img{
    width: 100%;
    height: 75%;
    border-radius: 20px 20px 0 0;
}

.longchamp{
    background:white;
    width: 230px;
    height: 160px;
    border-radius: 20px; 
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);  
}

.longchamp img{
    width: 100%;
    height: 75%;
    border-radius: 20px 20px 0 0;
}


/* FOOTER */

.footer{
    display: flex;
    background: rgba(240, 240, 240, 0.678);
    padding: 30px;
    
}

.footer ul{   
    list-style-type: none;
    min-height: 25px;
    padding: 0;
}

.footer li{   
    margin-right: 150px;
    min-height: 25px;
    padding-top: 5px;
}

.footer a{
    text-decoration: none;
    color: #181818;
}

.apropos{
    width: 30%;
}
.noshébergements{
    width: 30%;
}

.assistance{
    width: 30%;
}


/* MEDIA */
@media all and (min-width: 1500px)
{
    /* HEBERGEMENTS */

    #hébergements{
        width: 75%;
    }

    .hébergements{
        width: 90%;
        padding-bottom: 20px;
    }

    .chambre{
        width: 350px;
        height: auto;
    }

    .image-container{
        height: 200px;
    }

    /* LES PLUS POPULAIRES */

    .populaires{
        height: 665px;
    }

    .cadre_populaire{
        width: auto;
        height: 150px;
    }

    .populaires img{
        width: 150px;
        height: 150px;
    }

    /* ACTIVITES */
    .port{
        width: 350px;
    }

    .fort{
        width: 350px;
    }

    .iles{
        width: 350px;
    }

    .parc{
        width: 350px;
    }

    .garde{
        width: 350px;
    }

    .longchamp{
        width: 350px;
    }


    /* FOOTER */

    .apropos{
        width: 30%;
    }
    .noshébergements{
        width: 30%;
    }

    .assistance{
        width: 30%;
    }
}

/* TABLETTES */
@media all and (max-width: 1000px) 
{
    .filtres-1{
        display: flex;
        flex-wrap: wrap;
    }   

    .filtres-1 ul{
        flex-wrap: wrap;
    }

    .filtres-1 li{
        margin-top: 5px;
    }

    /* POPULAIRES */

    .popu{
        width: 100%;
    }

    #logocourbe{
        padding-left: 30px;
        padding-right: 30px;
    }

    #logocourbe i{
        font-size: 30px;
    }

    .populaires{
        border-radius: 0;
        margin: 0;
    }

    .pluspopulaire{
        display: flex;
        flex-wrap: wrap;  
        justify-content: space-between;
    }

    .cadre_populaire{
        width: 45%;
        height: 150px;
    }

    .cadre_populaire img{
        height: 150px;
        width: 150px;
    }

    /* HEBERGEMENTS */

    .cote{
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .chambre{
        width: 250px;
    }

    .hébergements{
        background: 0;
    }

    /* ACTIVITES */
    .activités{
        width: auto;
    }

    .groupe2{
        flex-direction: inherit;
        margin-top: 20px;
    }

    .garde{
        width: 350px;
        height: 200px;
        margin-right: 30px;
    }

    .longchamp{
        width: 350px;
        height: 200px;
    }
    /* FOOTER */

    .footer{
        display: flex;
    }

    .footer li{
        margin-right: 100px;
    }

    .apropos{
        width: auto;
    }

    .noshébergements{
        width: auto;
    }

    .assistance{
        width: auto;
    }

}


/* IPHONE 8 */
@media all and (max-width: 550px)
{
    .cote{
        width: 100%;
    }
    
   /* NAV */
    header{
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
    }

    header a{
        display: block;
    }

    #logo{
        margin: 20px;
    }

    #logocourbe{
        padding-left: 0;
        padding-top: 0;
        margin-right: 20px;
    }

    .inscription{
        margin: 0;
        padding-right: 30px;
    }

    .inscription a{
        float: right;
        color: #006af3;
        margin-top: -10px;
    }

    .menu{
        display: flex;
        flex-direction: column-reverse;
        margin-top: -50PX;
    }
    

    nav{
        width: 100%;
    }

    nav li{
        margin: 0;
        border-bottom: 3px solid rgb(240, 240, 240, 0.678);
        text-align: center;
        width: 50%;
        height: 75px;
    }
   
   nav ul{
       border-bottom: 4px;
       padding: 0;
       margin: 0;
    }
    
    nav a{
        padding: 30px;
        
    }

    nav a:hover{
        color: #006af3;
        border-top: none;
        border-bottom: 3px solid #006af3; 
        font-size: 20px;
        padding-bottom: 20px;
    }
    
  

    /* RECHERCHE */

    .icon-map{
        width: 20px;
    }

    .icon-map i{
        padding-left: 5px;
        font-size: 20px;
    }

    .champ-recherche input{
        width: 75%;
    }
    .icon-loupe{
        display: flex;
        background: #006af3;
        color:white;
        border: none;
        width: 40px;
        border-radius: 0 10px 10px 0;
        padding-top: 10px;
        padding-left: 10px;
    }

    .icon-loupe i{
        font-size: 20px;
    }
   
    .button-button{
        display: none;
    }
    
    
    /* FILTRES */
   .filtre-{
    display: flex;
    flex-wrap: wrap;
    }

    .filtres-1 li{
    margin: 5px;    
    }

    .filtres-1 ul{
   flex-wrap: wrap;
   padding-left: 0;
    }

    .info i{
        margin-left: 0;
    }

    .info p{
        margin-left: 0;
    }

   /* POPULAIRES */

    .populaires{
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 100px;
        border-radius: 0;
        margin: 0;
    }

    .cadre_populaire{
        height: 130px;
        width: 300px;
    }

    .cadre_populaire img{
        height: 100%;
        width: 120px;
    }


   /* HEBERGEMENTS */

   .hébergements{
       background: white;
       width: 100%;
       border-radius: 0;
       padding-left: 0;
   }
   .chambre{
       width: 300px;
   }

   /* ACTIVITES */
   
   aside{
        margin-left: 30px;
   }

   .port{
       height: 180px;
       width: 310px;
       padding-bottom: 15px;
       margin-bottom: 20px;
   }


   .groupe1 .fort{
        height: 180px;
        width: 310px;
        margin-bottom: 20px;
   }

   .groupe1 .iles{
        height: 180px;
        width: 310px;
        margin-bottom: 20px;
}

    .groupe1 .iles img{
        height: 80%;
    }

    .port h4{
        margin-top: 15px;
    }

    .fort h4{
        margin-top: 15px;
    }

    .iles h4{
        margin-top: 15px;
    }

    .parc h4{
        margin-top: 5px;
    }

    .garde h4{
        margin-top: 15px;
    }

    .longchamp h4{
        margin-top: 15px;
    }

    .parc{
        height: 180px;
        width: 310px; 
        padding-bottom: 15px;   
    }

    .groupe2{
        flex-direction: column;
    }

    .groupe2 .garde{
        height: 180px;
        width: 310px;
        margin-bottom: 20px;
    }

    .groupe2 .garde img{
        height: 80%;
    }

    .groupe2 .longchamp{
        height: 180px;
        width: 310px;
    }

    .groupe2 .longchamp img{
        height: 80%;
    }

    /* FOOTER */

    .footer{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .apropos{
        width: auto;
    }

    .noshébergements{
        width: auto;
    }

    .assistance{
        width: auto;
    }

}